node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.DS_Store
*.log

# Firebase
firebase-config.json
google-services.json
GoogleService-Info.plist

# Environment
.env
.env.local

